#rango{
	border: 5px solid black;
	background-color: red;
	border-radius: 30px;
	color: white;
	font-size: 30px;
	padding: 10px;
	width: 70%;
	box-shadow: 10px 10px 30px black;
}
#lol
{
	border: 3px solid black;
	background-color: blue;
	border-radius: 30px;
	color: black;
	font-size: 30px;
	padding: 10px;
	width: 70%;
	box-shadow: 10px 10px 30px black;
}
#numero, button
{
	font-size: 30px;
	width: 80%;
	margin-top: 20px;
	text-align: center; 
}
#intentos, #pista
{
	color: blue;
	font-size: 40px;
	margin-top: 20px;
}